<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439876408265-570ln9c64ie7in1cfggeb12kkn8eg60s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439876408265-570ln9c64ie7in1cfggeb12kkn8eg60s</string>
	<key>API_KEY</key>
	<string>AIzaSyC76_Di-Kn5yznWAFDBFgK7G0EVOb2UJUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439876408265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okun.Afterparty</string>
	<key>PROJECT_ID</key>
	<string>afterparty-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>afterparty-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:439876408265:ios:825b16c0b914d7b14f4e18</string>
	<key>DATABASE_URL</key>
	<string>https://afterparty-debug.firebaseio.com</string>
</dict>
</plist>
